<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      theSocialCrypto || Cut Through the Noise, Unleash Your Crypto Focus
    </title>
    <link rel="icon" type="image/png" href="./images/title.png">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="logo">
            <h5>
             
              <a href="index.html" class="menu_link" onclick="homePage()">
                <img src="./images/title.png" alt="logo" class="logo-image">
                <span class="brand-name">theSocialCrypto</span>
              </a>
            </h5>
            <p class="brand-name">
              Cut Through the Noise, Unleash Your Crypto Focus.
            </p>
            <div class="social__icons">
              <a href="https://twitter.com/dSocialCrypto"
                ><i class="fa-brands fa-twitter fa-2x"></i
              ></a>
              <a href="https://telegram.me/theSocialCrypto_Group"
                ><i class="fa-brands fa-telegram fa-2x"></i
              ></a>
            </div>
          </div>
          <div class="menu_wrapper">
            <div class="resp__bar">
              <div class="logo">
                <h5>theSocialCrypto</h5>
              </div>
              <div class="resp__closer">
                <i class="fa-solid fa-x"></i>
              </div>
            </div>
            <ul class="menus">
              <li class="menu_item">
                <a href="#" class="menu_link" onclick="homePage()">Home</a>
              </li>
            </ul>
          </div>
          <div class="resp__toggler">
            <i class="fa-solid fa-bars"></i>
          </div>
        </nav>
      </div>
      <!-- <div class="container py-3">
        <div
          class="toggle-switch-container d-flex align-items-center justify-content-end gap-2"
        >
          <label class="toggle-switch">
            <input type="checkbox" id="themeToggle" />
            <span class="toggle-slider"></span>
          </label>
          <span class="toggle-label">Replies</span>
        </div>
      </div> -->
    </header>

    <section>
      <div class="container">
        <div class="grid-container"></div>
      </div>
    </section>
    <div class="container my-5" id="contentLoader">
      <div class="d-flex align-items-center justify-content-center">
        <div class="content__loader--wrapper">
          <div class="loader__spinner">
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-5" id="nomore" style="display: none">
      <div class="d-flex align-items-center justify-content-center">
        <h3>No more tweets found....</h3>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="footer__bottom">
          <div class="mt-4">
            <p class="m-0">&copy; theSocialCrypto 2023. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
    <script src="script.js"></script>
    <script src="app.js"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-35D0DKE01X");
    </script>
  </body>
</html>
