/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */
/* Make sure to import Bauhaus93 font */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap'); /* substitute with Koulen if Bauhaus93 is unavailable*/

.menu_link {
  display: inline-block;
  padding: 10px 20px;
  background-color: black; /* Create box */
  border: 2px solid neon; /* Optional neon border color */
  border-radius: 10px; /* Rounded corners */
  text-decoration: none;
}

.menu_link:hover {
  box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14; /* Neon glow effect on hover */
}

.logo-image {
  width: 50px;
  vertical-align: middle;
}

.brand-name {
  color: #39ff14; /* Neon green text color */
  font-family: 'Bauhaus93', sans-serif; /* Substitute if unavailable */
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1c1c1c;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: 0.3s;
  z-index: 999;
}

header.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header nav .logo {
  position: relative;
  cursor: default;
  user-select: none;
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

header nav .logo h5 {
  font-weight: 600;
  margin: 0;
}

header nav .menu_wrapper .menus {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

header nav .menu_wrapper .menus .menu_item {
  position: relative;
  padding: 10px 0;
}

header nav .menu_wrapper .menus .menu_item .menu_link {
  position: relative;
  display: block;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 400;
  color: #39ff14;
}

header nav .menu_wrapper .menus .menu_item:hover .menu_link {
  color: #3861fb;
}

header nav .menu_wrapper .menus .menu_item.has-sub .menu_link::before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  transition: 0.3s;
}

header nav .menu_wrapper .menus .menu_item.has-sub:hover .menu_link::before {
  transform: translateY(-50%) rotate(180deg);
}

header nav .menu_wrapper .menus .menu_item.has-sub .menu-sub {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  min-width: 180px;
  max-width: 200px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

header nav .menu_wrapper .menus .menu_item.has-sub:hover .menu-sub {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

header nav .menu_wrapper .menus .menu_item.has-sub .menu-sub .menu_item {
  padding: 0;
}

header nav .menu_wrapper .menus .menu_item.has-sub .menu-sub .menu_link {
  font-size: 13px;
  font-weight: 400;
  padding: 8px 16px;
  background-color: transparent !important;
  box-shadow: none !important;
  color: #1c1c1c;
}

header nav .menu_wrapper .menus .menu_item.has-sub .menu-sub .menu_link:hover {
  color: #3861fb;
}

header
  nav
  .menu_wrapper
  .menus
  .menu_item.has-sub
  .menu-sub
  .menu_link::before {
  content: none;
  display: none !important;
}

.resp__bar,
.resp__toggler {
  display: none;
}

@media (max-width: 1067px) {
  .resp__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .resp__bar .resp__closer,
  .resp__toggler {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
  }

  header nav {
    flex-direction: column;
    justify-content: space-between;
  }

  header nav .menu_wrapper {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #fff;
    transition: 0.5s;
    z-index: 999;
  }

  header nav .menu_wrapper.active {
    left: 0;
  }

  header nav .menu_wrapper .menus {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav .menu_wrapper .menus .menu_item {
    padding: 0;
    width: 100%;
  }

  header nav .menu_wrapper .menus .menu_item .menu_link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 14px 16px;
  }

  header nav .menu_wrapper .menus .menu_item.has-sub .menu_link::before {
    right: 16px;
  }

  header nav .menu_wrapper .menus .menu_item.has-sub .menu-sub {
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 0;
    visibility: visible;
    opacity: 1;
    top: 0 !important;
    box-shadow: none !important;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  header nav .menu_wrapper .menus .menu_item.has-sub.show .menu-sub,
  header nav .menu_wrapper .menus .menu_item.has-sub:hover .menu-sub {
    max-height: 500px;
  }

  header
    nav
    .menu_wrapper
    .menus
    .menu_item.has-sub
    .menu-sub
    .menu_item
    .menu_link {
    border-bottom: 0;
  }

  header
    nav
    .menu_wrapper
    .menus
    .menu_item.has-sub
    .menu-sub
    .menu_item:last-child
    .menu_link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}

section {
  position: relative;
  width: 100%;
  padding: 50px 0;
}

h1 {
  padding: 50px 0;
  color: coral;
  text-align: center;
}

.grid-container {
  columns: 3 200px;
  column-gap: 1.5rem;
  width: 100%;
  margin: 0 auto;

  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;

    &:hover img {
      filter: grayscale(0);
    }

    &:hover {
      border-color: coral;
    }

    img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
    }

    p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
    }
  }
}

footer {
  position: relative;
  width: 100%;
  padding: 50px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .logo_area .logo {
  width: 70px;
  height: 70px;
}

footer .logo_area p {
  font-size: 14px;
}

footer h6 {
  color: #1c1c1c;
  margin-bottom: 10px;
}

footer ul {
  position: relative;
  margin: 0;
  padding: 0;
}

footer ul li a {
  font-size: 14px;
  color: #1c1c1c;
  line-height: 30px;
}

footer ul li a:hover {
  color: #3861fb;
}

footer .footer__bottom {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

footer .footer__bottom .social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

footer .footer__bottom .social__icons a {
  display: block;
  width: 35px;
  height: 35px;
  color: #1c1c1c;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer__bottom .social__icons a:hover {
  color: #3861fb;
}

@keyframes loader__spinner {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.content__loader--wrapper {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
  margin: auto;
}

.loader__spinner div {
  position: absolute;
  animation: loader__spinner 1s linear infinite;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #e15b64;
  transform-origin: 40px 41px;
}

.loader__spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loader__spinner div {
  box-sizing: content-box;
}

.toggle-switch-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  margin-right: 6px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 28px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #2ecc71;
}

input:checked + .toggle-slider:before {
  transform: translateX(22px);
}

/* ADMIN */
.admin_wrapper-box {
  position: relative;
  width: 100%;
}

.admin_nav .logo {
  position: relative;
  cursor: default;
  user-select: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.admin_nav .logo h5 {
  font-weight: 600;
  font-size: 26px;
  margin: 0;
}

.admin_wrapper-box .admin_body {
  position: relative;
  width: 100%;
  padding: 50px 0;
}

.admin_wrapper-box .btn {
  font-size: 14px;
  border-radius: 4px !important;
}

.admin_wrapper-box .btn-sm {
  font-size: 12px;
}

.admin_wrapper-box .form-group label {
  font-size: 14px;
  margin-bottom: 6px;
}

.admin_wrapper-box .form-group input,
.admin_wrapper-box .form-group select {
  position: relative;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  font-size: 14px;
  outline: 0;
  border: 1px solid #1c1c1c;
  border-radius: 4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.admin_wrapper-box .modal_title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 51px; /* Adjust this value as needed */
  height: 52px; /* Set the height equal to the width for a perfect circle */
  border-radius: 50%; /* Makes the image round */
  vertical-align: middle; /* Aligns the image with the text vertically */
  margin-right: 10px; /* Space between the image and the text */
  object-fit: cover; /* Ensures the image covers the space without distortion */
}


nav {
  background-color: black;
  color: white; /* Text color for better contrast */
}

a.menu_link, .social__icons a {
  color: #39ff14; /* Neon green for text and icons */
}

.social__icons a i {
  color: white; /* Set icon color */
}


